<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.equals(user.email, null) ? 'Добавить пользователя' : 'Редактировать пользователя'}"></title>
</head>
<body>
<div th:replace="~{icludes/header :: header}"></div>
<h1 th:text="${#strings.equals(user.email, null) ? 'Добавить пользователя' : 'Редактировать пользователя'}"></h1>
<form th:action="@{${#strings.equals(user.email, null) ? '/admin/add' : '/admin/edit'}}" th:object="${user}"
      method="post">
    <input type="hidden" th:field="*{id}"/>

    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required/>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ошибка в имени</p>
    </div>

    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required/>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка в фамилии</p>
    </div>

    <div>
        <label for="age">Возраст:</label>
        <input type="text" id="age" th:field="*{age}" required/>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Ошибка в возрасте</p>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка в email</p>
    </div>

    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" required/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка в пароле</p>
    </div>
    <div>
        <label for="roles">Роли:</label>
        <select multiple="multiple" id="roles" th:field="*{roles}">
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Сохранить</button>
        <a th:href="@{/admin}">Отмена</a>
    </div>
</form>
</body>
</html>
