<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
<body>
<div th:replace="~{icludes/header :: header}"></div>
<h1>Список пользователей</h1>

<div th:if="${user == null}">
    <a th:href="@{/admin/add}">Добавить пользователя</a>
    <table th:if="${users.size() > 0}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.firstName}">Имя</td>
            <td th:text="${user.lastName}">Фамилия</td>
            <td th:text="${user.age}">Возраст</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <a th:href="@{/admin/edit(id=${user.id})}">Изменить</a>
                <a th:href="@{/admin/delete(id=${user.id})}" onclick="return confirm('Удалить?')">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
